body {
    padding-top: 150px;
    height: 100%;
}
.container {
    width: 100%;
    min-height: calc(100%-200PX);
}
.navbar {
    justify-content: space-around;
    height: auto;
    padding: 20px 100px 20px 50px;
    font-size: 20px;
}
li a:hover {
    font-weight: bold;
}
.brand {
    font-size: 30px;
    font-weight: 500;
}
b {
    font-size: 50px;
    color: #0c6efd;
}
.topline {
    display: block;
    position: relative;
    font-size: 50px;
    letter-spacing: 3px;
}
h1 {
    display: block;
    font-size: 6em;
    font-weight: 650;
    text-shadow: 0 8px 10px rgba(0,0,0,0.4);
}
.wrapper p {
    display: block;
    font-size: 1.2em;
    text-align: justify;
}
.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    padding: 0 4%;
    margin: 250px 0;
}
.btn {
    box-shadow: 0 8px 10px rgba(0,0,0,0.4);
}
footer {
    max-height: 200px;
    padding: 2%;
}
#info {
    margin-top: 250px;
    margin-bottom: 100px;
    text-align: justify;
}
#contact {
    margin: 250px 0 100px 0;
}
.imgbox {
    justify-content: center;
    padding-left: 15%;
}
form {
    margin-left: 15%;
}