body {
    font-family: 'Poppins', sans-serif;
}
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    [class*="col-"] {
        float: left;
        padding: 15px;
    }
}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
header {
    width: 100%;
    min-height: 300px;
    background-image: url("../img/headerfoto_oldenzaal.webp");
    background-repeat: no-repeat;
}
h1 {    
    font-size: 4em;
    text-align: center;
    color: white;
    text-shadow: 0 0 3px navy;
    padding: 100px 0px 10px 0px;
}
.facts {
    background-color: #d9a900;
}
.facts li {
    list-style-type: disc;
    padding: 5px;
    font-size: 0.9em;
}
.article {
    background-color: #1c0c68;
}
.article img {
    float: right;
    max-width: 30%;
    height: auto;
    margin-left: 10px;
}
.article p {
    float: left;
    max-width: 60%;
    text-shadow: 1px 1px 1px navy;
    color: white;
    margin-left: 20px;
}
footer {
    clear: both; 
    height: auto;
    background-color: #1c0c68;
    padding: 50px 0px 5px 0px;
    color: white;
    font-size: 0.7em;
}